<div class="create-note-footer">
    <div class="create-note-btn">
            <button mat-icon-button matTooltip="Reminde me">
                    <img class="icon" src="/assets/create_note/remind.svg" />
            </button>
            <button mat-icon-button matTooltip="Collaborator" class="header-icon">
                    <img src="/assets/create_note/person.svg" />
            </button>
            <button mat-icon-button matTooltip="Background options" class="bg-color">
                    <img src="/assets/create_note/color.svg" />
            </button>
            <button mat-icon-button matTooltip="Add image">
                    <img src="/assets/create_note/image.svg" />
            </button>
            <button mat-icon-button matTooltip="Archive">
                    <img src="/assets/create_note/archive.svg" />
            </button>
            <button mat-icon-button matTooltip="More">
                <img src="\assets\create_note/more.svg" [matMenuTriggerFor]="more"/>
              <mat-menu #more="matMenu">
                <button mat-menu-item>Delete Note</button>
                <button mat-menu-item>Add label</button>
                <button mat-menu-item>Add drawing</button>
                <button mat-menu-item>Make a copy</button>
                <button mat-menu-item>Show checkboxes</button>
                <button mat-menu-item>Copy to Google Docs</button>
              </mat-menu>
            </button>
    </div>
</div>