<body>
    <div class="container">
        <div class="heading">
            <h2 class="h2">
                <span style="color: blue;">F</span>
                <span style="color: red;">U</span>
                <span style="color: orange;">N</span>
                <span style="color: blue;">D</span>
                <span style="color: green;">O</span>
                <span style="color: red;">O</span>
            </h2>
            <h2>Forgot Password!</h2>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="email">
                <label>Enter email to reset password</label>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="abc@gmail.com"/>
                  <mat-error>Enter an Email</mat-error> 
                </mat-form-field>
            </div><br><br><br><br>
            <div class="buttons">            
                <button mat-button color="primary" routerLink="/">Cancel</button>            
                <button mat-raised-button color="primary" style="width: 100px;">Next</button>            
            </div>
        </form>
    </div>
</body>