<body>
    <div class="container">
        <div class="heading">
            <h2 class="h2">
                <span style="color: blue;">F</span>
                <span style="color: red;">U</span>
                <span style="color: orange;">N</span>
                <span style="color: blue;">D</span>
                <span style="color: green;">O</span>
                <span style="color: red;">O</span>
            </h2>
            <h2>Reset Password</h2>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="password">
                <label>Create new password</label>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password"/>
                  <mat-error>Enter password</mat-error> 
                </mat-form-field><br>            
                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput formControlName="confirmPassword" />
                  <mat-error>Enter confirm password</mat-error>                  
                </mat-form-field>                
            </div>
            <mat-checkbox color="primary">Show Password</mat-checkbox>
            <br><br><br><br>
            <div class="buttons">
                <button mat-button color="primary" routerLink="/login">Cancel</button>           
                <button mat-raised-button color="primary">Change Password</button>            
            </div>
        </form>
    </div>
</body>