<div class="note">
        <form [formGroup]="createNoteForm" (ngSubmit)="onSubmit()">
                <div class="create-note-header" *ngIf="notecard">
                        <input class="create-note" id="btn1" type="text" placeholder="Title" formControlName="title"
                                autocomplete="off" />
                        <button mat-icon-button class="profile-icon" matTooltip="Pin">
                                <img src="/assets/create_note/pin.svg" />
                        </button>
                </div>
                <div class="create-note-body">
                        <textarea class="create-note" id="btn2" type="text" (click)="openNoteCard()"
                                formControlName="description" placeholder="Take a note..."
                                autocomplete="off"></textarea>
                </div>
                <div class="create-note-footer" *ngIf="notecard">
                        <div class="icons">
                                <app-icons></app-icons>
                                <!-- <button mat-icon-button matTooltip="Undo">
                                        <img src="/assets/create_note/undo.svg" />
                                </button>
                                <button mat-icon-button matTooltip="Redo">
                                        <img src="/assets/create_note/redo.svg" />
                                </button> -->
                        </div>
                        <button mat-button matTooltip="Close" (click)="closecard()" (click)="onSubmit()" class="close">
                                Close
                        </button>
                </div>
        </form>
</div>